@font-face {
    font-family: "allura-Regu";
    src: url(..//fonts/Allura-Regular.ttf);
}
@font-face {
    font-family: "poppins-medium";
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "roboto_light";
    src: url(../fonts/Roboto-Light.ttf);
}
//var color
$white: #eee;
$grey: rgb(182, 182, 182);
$black: #21201e;
$brow: #a67245;

body {
    background: #21201e;
    font-family: 'roboto_light';
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@mixin aligncolms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@mixin alignflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin title {
    letter-spacing: 2px;
    text-transform: uppercase;
}
@mixin browntitle {
    color: $brow;
    text-transform: capitalize;
    font-family: 'allura-Regu';
}
html {
    scroll-behavior: smooth;
  }