@font-face {
  font-family: "allura-Regu";
  src: url(..//fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto_light";
  src: url(../fonts/Roboto-Light.ttf);
}
body {
  background: #21201e;
  font-family: "roboto_light";
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

header {
  background: url(./img/bg-slider-06.jpg) center/cover;
  min-height: 100vh;
  color: whitesmoke;
  padding: 0 50px;
}
header nav {
  max-width: 1100px;
  height: 12vh;
  display: grid;
  grid-template-columns: 11% 80% 9%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
header nav h3 {
  color: #eee;
  font-family: "allura-Regu";
  font-size: 2.3rem;
  text-transform: capitalize;
}
header nav .mid_nav ul {
  padding: 0 20px;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
}
header nav .social ul {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .header_title {
  margin-top: 80px;
  min-height: 44.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
header .header_title h2 {
  color: #a67245;
  text-transform: capitalize;
  font-family: "allura-Regu";
  font-size: 3.5rem;
  font-weight: 100;
  margin-bottom: -30px;
}
header .header_title h1 {
  font-weight: 900;
  font-family: "poppins-medium";
  font-size: 3.5rem;
  letter-spacing: 8px;
  text-transform: uppercase;
}
header .header_title img {
  height: 30px;
  margin: 40px 0;
}
header .header_title h6 {
  letter-spacing: 9px;
  font-weight: 100;
  color: #eee;
  font-size: 0.8rem;
  opacity: 0.9;
  text-transform: uppercase;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #eee;
  min-height: 47vh;
}
.section1 .block_white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .section1_text {
  text-align: center;
  border: 1px #a67245 dashed;
  padding: 40px 15px;
  margin: 15px;
}
.section1 .section1_text h2 {
  color: #a67245;
  text-transform: capitalize;
  font-family: "allura-Regu";
  font-size: 2em;
  font-weight: 100;
  margin-bottom: -15px;
}
.section1 .section1_text h3 {
  font-family: "poppins-medium";
  text-transform: uppercase;
}
.section1 .section1_text .first_img {
  height: 30px;
  margin: 20px 0;
}
.section1 .section1_text .second_img {
  border-radius: 150px;
  height: 70px;
  margin: 15px;
}
.section1 .section1_text h4 {
  font-family: "poppins-medium";
  font-weight: 100;
  text-transform: capitalize;
}
.section1 .section1_text h5 {
  color: rgb(182, 182, 182);
  text-transform: uppercase;
  font-size: 0.7rem;
}
.section1 .img_section1 {
  background: url(./img/store-01.jpg) center/cover;
}

.section2 {
  position: relative;
}
.section2 .time {
  color: #eee;
  margin: 0 auto;
  text-align: center;
}
.section2 .time h2 {
  color: #a67245;
  text-transform: capitalize;
  font-family: "allura-Regu";
  font-weight: 100;
  margin: 50px 0 0;
  font-size: 2rem;
}
.section2 .time img {
  margin: 30px;
}
.section2 .time ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  text-transform: capitalize;
  font-size: 1rem;
  min-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.section2 .time ul li {
  border-bottom: 1px rgb(182, 182, 182) solid;
  padding-bottom: 6px;
}
.section2 .container_dish {
  border-top: 4px solid #a67245;
  background: #eee;
  color: #21201e;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 20px;
  position: relative;
  z-index: 1000;
}
.section2 .container_dish .dish {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  border-bottom: 1px dashed rgb(182, 182, 182);
  margin: 0 20px;
  padding: 18px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .container_dish .dish img {
  margin-top: 20px;
  height: 90px;
  border-radius: 150px;
}
.section2 .container_dish .dish .dish_text {
  margin: 0px 20px 0 10px;
}
.section2 .container_dish .dish .dish_text h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}
.section2 .container_dish .dish .dish_text p {
  text-transform: capitalize;
  color: #21201e;
  padding-top: 5px;
  font-weight: normal;
  font-size: 1rem;
}
.section2 .container_dish .dish p {
  color: #a67245;
  font-weight: bold;
  font-size: 1.2rem;
}
.section2::after {
  content: "";
  background: url(./img/bg-menu-01.jpg) center/cover;
  width: 100%;
  height: 620px;
  position: absolute;
  top: 45%;
}/*# sourceMappingURL=index.css.map */